<div class='title'>
  About screenwritr.io
</div>

<div class='body'>
  <ul class='list-unstyled'>
    <li>Made with love by <a href='http://adnan-chowdhury.com'>Adnan Chowdhury</a></li>
    <li>Created for all those creative individuals out there.</li>
    <li>Feel it could be better? Contribute! <a href='http://github.com/bttf/screenwritr'><i class='fa fa-github'></i></a></li>
    <li>Look both ways before you cross the street.</li>
  </ul>
</div>

<div class='footer pull-right'>
  <a href='' {{action 'toggleAboutDialog'}}><i class='fa fa-angle-double-right'></i> Close</a>
</div>
