<div class='col-xs-3'>
  <img class='img-circle img-responsive' src='http://chewbonga.com/chewbonga.jpg'>
</div>

<div class='col-xs-9 friend-result-name'>
  {{friend.fullName}}

  <div class='friend-controls'>
    {{#if isPending}}

    Friend request pending: 
    <a href='#'>Accept</a> - 
    <a href='#'>Deny</a>

    {{else}}

      {{#unless sameUser}}

        <a href='#' {{action 'sendFr'}}>Send friend request</a>

      {{/unless}}

    {{/if}}
  </div>
</div>
