<div class='col-xs-3'>
  <img class='img-circle img-responsive' src='http://chewbonga.com/chewbonga.jpg'></img>
</div>

<div class='col-xs-9 friend-result-name'>
    {{user.fullName}}
  <div class='send-friend-request'>
    <a href='#'>Send friend request</a>
  </div>
</div>

<div class='col-xs-12 text-right'>
</div>
