<a href='' {{action 'closePanel'}}><i class='fa fa-angle-double-right'></i> Close</a>
<br>
<br>
<h1>Using screenwritr.io</h1>
<ul class='list-unstyled'>
  <li>
    <strong>Take a look at your URL</strong>. This will tell you about where you are in the application.
  </li>
  <li>
    For instance, a URL ending with <code>/script/new</code> means your editing a New Script file...
  </li>
  <li>
    Your <strong>editing panel</strong> will contain the space where you can write your new script.
  </li>
  <li>
    The <strong>Edit</strong> and <strong>Preview</strong> buttons are available to switch between the two modes.
  </li>
  <li>
    Switch to <strong>Preview</strong> mode if you'd like to preview the finished product.
  </li>
</ul>
<h3>Saving</h3>
<ul class='list-unstyled'>
  <li>
    Once you save your script, the <strong>URL</strong> will update to a unique address.
  </li>
  <li>
    You can share this address with other screenwritr.io users who you'd like to collaborate with.
  </li>
</ul>
