<ul class='list-inline'>
  <li>
    <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='New'>
      <i class='fa fa-file-o'></i>
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='Open'>
      <i class='fa fa-folder-open'></i>
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='Save'>
      <i class='fa fa-save'></i>
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link'>
      Auto-Save <i class='fa fa-check'></i>
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link'>
      Font-Size: 24px
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link'>
      Page Width: 80%
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link'>
      Export as...
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link'>
      Share
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='Help'>
      <i class='fa fa-question-circle'></i>
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='About'>
      <i class='fa fa-info-circle'></i>
    </a>
  </li>
  <li>
    <a href='#' class='btn btn-link' data-toggle='tooltip' data-placement='bottom' title='Logout'>
      <i class='fa fa-sign-out'></i>
    </a>
  </li>
</ul>
