Save changes?
<br>
<button type='button' class='btn btn-link' {{action 'saveScriptThenTransition'}}>Yes</button>
<button type='button' class='btn btn-link' {{action 'justTransition'}}>No</button>
<button type='button' class='btn btn-link' {{action 'cancel'}}>Cancel</button>
