html, body {
  margin: 20px;
  height: 100%;
  font-family: 'Rokkitt', serif;
  font-weight: 400;
}

.main-div {
  padding-bottom: 2em;
}

#logo {
  font-size: 6em;
  margin-bottom: 0;
  padding: 0;
}

#toolbar {
  margin-bottom: 1em;
  font-family: 'Open Sans', sans-serif;
}

#editor {
  height: 300px;
  width: 100%;
  box-shadow: 0 0 10px #ccc;
  border: 1px #aaa solid;
  border-radius: 0;

  font-family: courier;
  font-size: 1.5em;
}

.save-button {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  background-color: #ccc;
  color: #444;
  border-radius: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.control-panel {
  border-radius: 0;
  border: 1px #aaa solid;
  box-shadow: 0 0 10px #e0e0e0;
  min-height: 300px;
  padding-top: 1em;
  font-size: 1.5em;
}

.login {
  .button-div, input, .error-field {
    width: 80%;
    margin: 0 auto;
  }

  .error-field {
    margin-top: 1em;
    font-size: 0.75em;
  }

  margin-top: 1em;
}
