html, body {
  margin: 20px;
  height: 100%;
  font-family: 'Rokkitt', serif;
  font-weight: 400;
}

a, a:hover {
  color: #333;
  text-decoration: none;
}

.ql-active {
  background-color: #ccc;
}

.main-div {
  padding-bottom: 2em;
}

.stage {
  margin-bottom: 1.5em;
}

.logo {
  font-size: 6em;
  margin-bottom: 0;
  padding: 0;
  a,a:hover {
    color: #333;
    text-decoration: none;
  }
}

.header-name {
  font-size: 3em;
  .header-name-margin {
    margin-top: 1em;
  }
}

#toolbar {
  margin-bottom: 1em;
  font-family: 'Open Sans', sans-serif;
}

#editor {
  height: 300px;
  width: 100%;
  box-shadow: 0 0 10px #ccc;
  border: 1px #aaa solid;
  border-radius: 0;

  font-family: courier;
  font-size: 1.5em;
}

.box-shadow {
  box-shadow: 0 0 10px #ccc;
  border: 1px #aaa solid;
  border-radius: 0;
}

.save-button {
  margin-right: 1em;
}

.control-panel {
  font-size: 1.5em;
}

.panel {
  border-radius: 0;
  border: 1px #aaa solid;
  box-shadow: 0 0 10px #e0e0e0;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.panel-buttons {
  button {
    font-size: 0.57em;
  }
}

.login {
  .button-div, input, .error-field {
    width: 80%;
    margin: 0 auto;
  }

  .error-field {
    margin-top: 1em;
    font-size: 0.75em;
  }

  margin-top: 1em;
}

.admin-panel {
  margin: 1em;
  padding: 1em;
}

.createUser {
  h1, h2, h4 {
    margin: 0;
  }
  .inputs input, textarea {
    border-radius: 0;
    border: 1px #aaa solid;
    margin: 0.5em auto;
    font-size: 1.5em;
    width: 50%;
  }
  .inputs textarea {
    width: 75%;
  }
  .bio {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  padding: 2em;
}

.saved-notice {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.btn-group {
  margin: 0 0.32em;
}

.scripts-list {
  margin: 0 auto 0.75em auto;
  font-size: 0.5em;
  overflow-x: hidden;
  overflow-y: auto;
}

.entry-select {
  padding: 0.25em;
  border-bottom: 1px #aaa solid;

  .title {
    font-size: 1.5em;
    margin: 0;
  }

  .author, .modified {
    font-size: 1em;
    margin: 0;
  }
}

.selected {
  background-color: #efefff;
}

.pending {
  background-color: #efffef;
}

.entry-settings {
  font-size: 1.5em;
  .fa-cog {
    margin-right: 0.25em;
    font-size: 0.75em;
    color: #aaa;
    line-height: inherit;
  }
}

.dropdown-menu {
  border-radius: 0;
  padding: 0;

  .divider {
    margin: 0;
  }
}

.delete-modal {
  padding: 0.5em;
  border-radius: 0;

  .modal-body {
    font-size: 2em;
  }
  .modal-footer {
    font-size: 1.5em;
  }

  .btn {
    border-radius: 0;
  }
}

.friends-list {
  hr {
    margin: 0;
  }

  .friends-search {
    margin: 0.5em;
    input {
      border: 1px #aaa solid;
      border-radius: 5px;
      width: 100%;
      font-size: 0.75em;
    }
  }
}

.friends-results {
  padding: 0 0.5em;
  .no-results {
    font-size: 0.75em;
  }
}

.friend-result {
  padding: 0.25em 0;
  .friend-result-name {
    padding: 0;
  }

  .friend-controls {
    font-size: 0.5em;
  }
}
