<div class='row'>
  <div class='col-xs-12'>
    <form>
      <div class='form-group'>
        {{input type='text' id='firstName' value=firstName class='form-control' placeholder='first name'}}
        <br>
        {{input type='text' id='lastName' value=lastName class='form-control' placeholder='last name'}}
        <br>
        {{input type='text' id='email' value=email class='form-control' placeholder='email'}}
        <br>
        <button class='btn btn-primary' type='submit' {{action 'saveUser' this}}>Create</button>

      </div>
    </form>
  </div>
</div>
