<div class="container">
  <div class="row main-div">
    <div class="col-xs-12">
      <div id="logo">screenwritr</div>
    </div>
    <div class="col-xs-12">
      {{outlet}}
    </div>
  </div>
</div>
