<div class="container-fluid">
  <div class="row main-div">
    <div class="col-xs-12 col-sm-6">
      <div class="logo">{{#link-to 'index'}}screenwritr{{/link-to}}</div>
    </div>
    <div class='col-xs-12 col-sm-6 text-right header-name'>
      <div class='hidden-xs header-name-margin'>
        {{#if session.isAuthenticated}}
        {{session.user.firstName}}
        {{/if}}
      </div>
    </div>
    <div class="col-xs-12">
      {{outlet}}
    </div>

    <br>
    <br>
    <div class='col-xs-12'>
      debug: <br>
      session.user.id: {{session.uid}} <br>
      session.user.email: {{session.user.email}} <br>
    </div>
  </div>
</div>
