<div class="container">
  <div class="row main-div">
    <div class="col-xs-8">
      <div id="logo">{{#link-to 'index'}}screenwritr{{/link-to}}</div>
    </div>
    <div class='col-xs-4'>
      {{#if session.isAuthenticated}}
      <div class='text-success'>Authenticated</div>
      {{/if}}
    </div>
    <div class="col-xs-12">
      {{outlet}}
    </div>
  </div>
</div>
