<div class='row'>
  <div class='col-xs-12'>
    <div class='interior'>
      {{#if session.isAuthenticated}}
      <div class='user-div text-center'>
      <button type='button' class='btn btn-danger' {{action 'logout'}}>Logout</button>
    </div>
      {{else}}
      <div class='login-div text-center'>
        log in / sign up
        <hr>
        <button type='button' class='btn' {{action 'loginFb'}}>Login with Facebook</button>
      </div>
      {{/if}}

      <br>
      <br>
      <div class="text-center">
        <button type='button' class='btn' {{action 'debugLoginStatus'}}>debug: getLoginStatus</button>
      </div>
    </div>
  </div>
</div>
