<div class='row'>
  <div class='col-xs-12'>

    <div class='control-panel'>
      {{#if session.isAuthenticated}}
        {{partial 'user-panel'}}
      {{else}}
        {{partial 'guest-panel'}}
      {{/if}}
    </div>

  </div>
</div>
