<div class='row'>
  <div class='col-xs-12'>
    <div class='interior'>
      <div class='login-div text-center'>
        log in / sign up
        <hr>
        <button type='button' class='btn' {{action 'loginFb'}}>Login with Facebook</button>

        <br>
        <br>
        <button type='button' class='btn' {{action 'doShit'}}>Debug</button>
      </div>
    </div>
  </div>
</div>
