<div class='row'>
  <div class='col-xs-12 text-center'>
    <div class='btn-group toolbar'>
      <button class='btn'><i class='fa fa-bold'></i></button>
      <button class='btn'><i class='fa fa-italic'></i></button>
      <button class='btn'><i class='fa fa-underline'></i></button>
    </div>

    <div class='btn-group toolbar'>
      <button class='btn'><i class='fa fa-align-left'></i></button>
      <button class='btn'><i class='fa fa-align-center'></i></button>
      <button class='btn'><i class='fa fa-align-right'></i></button>
    </div>
  </div>
</div>

{{init-quill-toolbar}}
