<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9">

    <div id='editor'>
    </div>

    {{#if session.isAuthenticated}}
      <button class='btn btn-xs save-button' {{action 'save'}}>save</button>
    {{/if}}

  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">

    {{render 'c-p'}}

  </div>
</div>

{{init-quill}}
