<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9">

    {{textarea value=body id='editor'}}

    <button class='btn btn-xs save-button' {{action 'save'}}>save</button>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">

    {{render 'c-p'}}

  </div>
</div>
