<div class="row">
  <div class="col-xs-9">
    {{textarea value=body id='editor'}}
    {{input value=title placeholder='title'}}
  </div>
  <div class="col-xs-3">
    {{render 'c-p'}}
  </div>
</div>
