<div class='hero-banner'>
  <div class='overlay'>
  </div>
  <div class='hero-text'>
    Write Your Heart Out
    <div class='hero-subtitle'>
      Sign up to start writing your next screenplay.
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-md-6'>
      <div class='lists'>

        <div class='list-title'>
          Write Scripts in your Browser
        </div>
        <ul class='list fa-ul'>
          <li>
            <i class='fa-li fa fa-angle-double-right'></i>
            Automatic Tooling to help you write better scripts
          </li>
          <li>
            <i class='fa-li fa fa-angle-double-right'></i>
            Export your Scripts into any of several formats (PDF,FNX,FTP)
          </li>
        </ul>

        <div class='list-title'>
          Share Documents in a Flash
        </div>
        <ul class='list fa-ul'>
          <li>
            <i class='fa-li fa fa-angle-double-right'></i>
            Share with Friends in a Snap
          </li>
          <li>
            <i class='fa-li fa fa-angle-double-right'></i>
            Share via Twitter, Facebook, Tumblr, etc...
          </li>
        </ul>

        <div class='list-title'>
          Collaborate in Real-Time
        </div>
        <ul class='list fa-ul'>
          <li>
            <i class='fa-li fa fa-angle-double-right'></i>
            Collaborate with others in Real-Time
          </li>
          <li>
            <i class='fa-li fa fa-angle-double-right'></i>
            Security and Privacy controls allow you to control who sees what
          </li>
        </ul>

      </div>
    </div>
    <div class='col-xs-12 col-md-6'>

      <div class='login-box'>
        <div class='login-headline'>Sign Up or Log In Today</div>
        <input type='text' placeholder='E-mail'>
        <input type='password' placeholder='Password'>
      </div>



    </div>
  </div>
</div>
{{outlet}}
