{{#unless model.isUnlisted}}

  <div class='preview'>

    {{#if isScriptEmpty}}
    <div class="row">
      <div class="col-xs-12">
        <!-- TODO: inline styles need to be assimilated -->
        <h1 style="margin-left: 0.25em">This script is empty.</h1>
      </div>
    </div>
    {{else}}
    {{fountain-to-html model.body}}
    {{/if}}

  </div>

{{else}}

<div class='preview'>
  <div class='title-page'>
    <h1>
      This Script is currently unavailable.
      <br>
      <br>
      Please ask the author of this script to Enable Read Access if you'd like to access it.
    </h1>
  </div>
</div>

{{/unless}}
