<div id='toolbar'>
  <div class='btn-group'>
    <a href='#' class='btn btn-default btn-sm ql-bold'><i class='fa fa-bold'></i></a>
    <a href='#' class='btn btn-default btn-sm ql-italic'><i class='fa fa-italic'></i></a>
    <a href='#' class='btn btn-default btn-sm ql-underline'><i class='fa fa-underline'></i></a>
  </div>

  <div id='align-toolbar' class='btn-group'>
    <a href='#' class='btn btn-default btn-sm'><i class='fa fa-align-left'></i></a>
    <a href='#' class='btn btn-default btn-sm'><i class='fa fa-align-center'></i></a>
    <a href='#' class='btn btn-default btn-sm'><i class='fa fa-align-right'></i></a>
  </div>
</div>
