<div class='row'>
  <div class='col-xs-12'>
    <div class='user-panel'>
      <div class='entries'>
        <div class='dropdown' data-toggle='dropdown'>
          <ul class='dropdown-menu pull-right'>
            {{render 'entries' model.entries}}
          </ul>
          <label class='dropdown-toggle' data-toggle='dropdown'><a href='#'><i class='fa fa-bars'></i></a></label>
        </div>
        

      </div>
    </div>
  </div>
</div>
