<div class='panel'>

  <div class='row'>
    <div class='col-xs-12'>
      <div class='scripts-list'>

        {{render 'entries' model.entries}}

      </div>
    </div>
  </div>

</div>

<div class='row'>
  <div class='col-xs-12'>
    <div class='panel-buttons'>
      <button type='button' class='btn btn-default' {{action 'logout'}}>Logout</button>
    </div>
  </div>
</div>

