<div class='createUser box-shadow'>
  <div class='row'>
    <div class='col-xs-12 col-sm-10 col-md-8'>
      <h1>{{fullName}}</h1>
      <h2>{{email}}</h2>
      <h3>{{bio}}</h3>
    </div>
    <div class='col-xs-12 col-sm-2 col-md-4'>
      <!--<img class='img-responsive' {{bind-attr src=img}}></img>-->
      <img class='img-responsive' src='http://chewbonga.com/chewbonga.jpg'></img>
    </div>
  </div>
</div>
