<div class='row'>
  <div class='col-xs-12'>
    <div class='scripts-list'>
      {{#each entry in model.entries}}

      {{ entry-select action='selectEntry' entry=entry }}

      {{/each}}
    </div>
  </div>

  <div class='col-xs-12 text-center'>

    <button class='btn btn-default' {{action 'logout'}}>Logout</button>

  </div>
</div>
